
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    outline: none;
    border:none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    font-weight: normal;
    text-transform: capitalize;
}

*::selection{
    background:var(--pink);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    display: inline-block;
    border-radius: 5rem;
    background:#444;
    color:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    padding:.7rem 3rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    font-size: 1.7rem;
}

.btn::before,
.btn::after{
    content: '';
    position: absolute;
    top:0;
    height: 100%;
    width:0%;
    background:var(--pink);
    z-index: -1;
    transition: .3s linear;
}

.btn::before{
    left:0;
}

.btn::after{
    right:0;
}

.btn:hover::before,
.btn:hover::after{
    width:100%;
}


.heading{
    text-align: center;
    padding:1rem;
    color:#fff;
    font-size: 6rem;
    -webkit-text-stroke: #666 .1rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

header{
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    width:100%;
    background:rgba(243, 123, 123, 0.801);
    padding:2rem 5%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:#444;
}

header .navbar a:hover{
    color:var(--pink);
}

#menu{
    font-size: 3rem;
    color:#444;
    cursor: pointer;
    display: none;
}

header .scroll-bar{
    position: absolute;
    top:100%; left: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: .8rem;
    background:var(--pink);
    width:0;
}












@media (max-width:768px){

    #menu{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:-100%;
        background:#fff;
        height:calc(100vh - 100%);
        padding:2rem;
        border-top: .1rem solid rgba(0,0,0,.1);
        width:50%;
    }

    header .navbar.nav-toggle{
        left:0%;
        box-shadow: 0 100vh 0 100vh rgba(0,0,0,.1);
    }

    header .navbar a{
        font-size: 2rem;
        display: block;
        margin:1.5rem 0;
        text-align: center;
    }

    .fa-times{
        transform: rotate(180deg);
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size:4.5rem;
    }

    header .navbar{
        width:70%;
    }

}






































body {
    background: #e7dad3;
}


html{
    font-size:62.5%;
    overflow-x: hidden;
}


section{
    min-height: 100vh;
    padding:1rem 9%;
    padding-top: 8rem;
}

.heading{
    text-align: center;
    background: black;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* Media Queries*/

@media (max-width:1200px) {

    html{
        font-size: 55%;
    }

}

@media (max-width:991px) {

    section{
        padding: 0.3rem;
        padding-top: 8rem;
    }

}

.prevent .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.prevent .box-container .box{
    flex:1 1 30rem;
    width: 30rem;
    background: #fff;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.prevent .box-container .box img{
    height:75rem;
}

.prevent .box-container .box h3{
    font-size: 2rem;
    color:#333;
    padding-top: 1.5rem;
}

.prevent .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding: 1rem 0;
}

.prevent .box-container .box .rating {
    height: 20px;
    width: 20px;
}